DATABASE_URL=postgresql://postgres:!!!Oberta001@db.uexuhznkfzdlhxfrytln.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://uexuhznkfzdlhxfrytln.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVleHVoem5rZnpkbGh4ZnJ5dGxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNDU0MjYsImV4cCI6MjA4ODkyMTQyNn0.xPVPg5Ff5BDjptlzHe6PNpqnJEdLYMaQJQTGnjJoeoo